<%= form_for ['admin', @article] do |f| %>
<% if @article.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@article.errors.count, "error") %> prohibited
      this article from being saved:</h2>
    <ul>
    <% @article.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %><br>
  </p>
      <%= f.hidden_field :category_id, value: params[:category_id] %>
  <p>
    <%= f.label :'输入内容' %><br>
    <%= f.kindeditor :content, :owner_id => @article.id,input_html: {window_onload: true, filterMode: false}%>
  </p>
  <p>
    <%= f.select(:category_id,category_list, :selected => params[:category_id])%>
    <%#= f.hidden_field :category_id, value: params[:category_id]%>
  </p>
  <p>
    <%= f.submit%>
  </p>
  <% end %>
