= form_for ['admin', @article], html: {class: "bs-example bs-example-form"} do |f|
  - if @article.errors.any?
    #error_explanation
      %h2
        = pluralize(@article.errors.count, "error")
        prohibited
        this article from being saved:
      %ul
        - @article.errors.full_messages.each do |msg|
          %li= msg
  %p
  .input-group
    %span.input-group-addon
      标题
    = f.text_field :title, required: false, autofocus: true, class: "form-control"
  %br
  = f.hidden_field :category_id, value: params[:category_id]
  %p
    = f.label :'文章内容'
    %br
    = f.kindeditor :content, :owner_id => @article.id,input_html: {window_onload: true, filterMode: false}
  %p
    = f.select(:category_id,category_list, :selected => params[:category_id])
  %p
    = f.submit