<style type="text/css">
  .banner{
    width: 100%;
    height: 311px;
    background-image: url("<%= image_url 'concat_2.gif' %>");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .content-inner{
    padding-top: 20px;
  }
  .content-inner .c-l{
    padding-left: 93px;
    width: 385px;
  }
  .c-l,.c-r{
    float: left;
  }
  .c-l{
    height: 262px;
    background:url("<%= image_url 'tel_03.png' %>") no-repeat 18px 20px;
  }
  .c-l h3{
    height: 34px;
    font-size: 16px;
    color: #d4192e;
    border-bottom: 0;
  }
  .c-l h3 span{
    color: #5b5b5b;
  }
  .c-l p{
    line-height: 29px;
    font-size: 12px;
    color: #797979;
    font-family: "simsun";
  }
  .c-r{
    width: 440px;
    height: 212px;
    border:1px solid #c1cbc3;
  }
</style>
<%= render 'top' %>
<%= render 'nav' %>
<div class="banner"></div>
<div class="content">
  <div class="path">
    您现在的位置:首页>联系方式
  </div>
  <div class="content-inner clearfix">
    <div class="c-l">
      <h3>联系我们 <span>CONTANT US</span></h3>
      <p>电话：010-5985 6788</p>
      <p>网址：www.dinghuifl.com</p>
      <p>地址：北京市朝阳区朝阳公园路19号佳隆国际大厦A座15F</p>
    </div>
    <div class="c-r"><div id="allmap"></div></div>
  </div>
</div>
<%= render 'footer' %>

<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=52ff74dd2853f98bd1b71fdf4c84011b"></script>
<script type="text/javascript">
	// 百度地图API功能
	var map = new BMap.Map("allmap");    // 创建Map实例
	map.centerAndZoom(new BMap.Point(116.478778,39.94026), 18);  // 初始化地图,设置中心点坐标和地图级别
	map.addControl(new BMap.MapTypeControl());   //添加地图类型控件
	map.setCurrentCity("北京");          // 设置地图显示的城市 此项是必须设置的
	map.enableScrollWheelZoom(true);     //开启鼠标滚轮缩放

	var point = new BMap.Point(116.478778,39.94026,18);
	map.centerAndZoom(point, 18);
	var marker = new BMap.Marker(point);  // 创建标注
	map.addOverlay(marker);               // 将标注添加到地图中
	marker.setAnimation(BMAP_ANIMATION_BOUNCE); //跳动的动画
</script>
