<%= render 'top' %>
<%= render 'nav' %>
<div class="banner"></div>

<div class="content">
  <div class="path">
    您现在的位置:首页>企业动态
  </div>

    <div class="fenlei">
      <li <% if current_page?("/sub/news?category=2") %>class="active"<% end %>>
        <a href="/sub/news?category=2">行业动态</a>
      </li>
      <li <% if current_page?("/sub/news?category=1") %>class="active"<% end %>>
        <a href="/sub/news?category=1">公司动态</a>
      </li>
    </div>
    <div class="liebiao">
      <ul>
        <% @articles.each do |article|%>
        <li>
          <a href="/sub/news/<%= article.id%>"><%= article.title%></a>
          <span class="time"><%= article.created_at.strftime("%Y-%m-%d")%></span>
        </li>
        <% end %>
        <div class="box">
          <%= will_paginate @articles,:inner_window => 4, :outer_window => 1,  previous_label: '上一页', next_label: '下一页'%>
        </div>
      </ul>
    </div>
</div>

<%= render 'footer' %>
