<%= render 'top' %>
<%= render 'nav' %>
<div class="banner banner-news"></div>

<div class="content">
  <%= render 'left' %>
  <div class="wenzhang">
    <div class="wenzhang title">
      <h1><%= @article.title%></h1>
    </div>
    <div class="wenzhang info">
      发布时间: <%= @article.created_at.strftime("%Y-%m-%d")%>
      <span>文章来源:  <%= @article.source || '互联网' %></span>
    </div>

    <div class="wenzhang content">
      <%=sanitize @article.content%>
    </div>
  </div>


</div>
</div>

<%= render 'footer' %>
